@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Circular-Std";
  src: url(../fonts/FontsFree-Net-Circular-Std-Book.ttf);
}

@font-face {
  font-family: "Klarna Display";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaDisplay-Bold.woff2")
      format("woff2"),
    url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaDisplay-Bold.woff")
      format("woff");
}

@font-face {
  font-family: "Klarna Text";
  font-display: swap;
  font-weight: 500;
  src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-Medium.woff2")
      format("woff2"),
    url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-Medium.woff")
      format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Circular-Std";

  // font-family: "Klarna Display";

  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.Klarna_Text {
  font-family: "Klarna Text";
  // line-height: 26px;
}
.Alegreya {
  font-family: "Alegreya", serif;
}

.fadeIn {
  animation: fadeInAnimation 0.3s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOutAnimation 0.3s ease-in-out backwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
