@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./mixins.scss";


@font-face {
  font-family: "Circular-Std";
  src: url(../fonts/FontsFree-Net-Circular-Std-Book.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular-Std";
  
}


// @font-face {
//     font-family: "Klarna Display";
//     font-display: swap;
//     font-weight: 700;
//     font-style: normal;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaDisplay-Bold.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaDisplay-Bold.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Display";
//     font-display: swap;
//     font-weight: 700;
//     font-style: italic;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaDisplay-BoldItalic.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaDisplay-BoldItalic.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Headline";
//     font-display: swap;
//     font-weight: 700;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaHeadline-Bold.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaHeadline-Bold.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Headline";
//     font-display: swap;
//     font-style: italic;
//     font-weight: 700;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaHeadline-Bolditalic.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaHeadline-Bolditalic.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Headline";
//     font-display: swap;
//     font-weight: 300;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaHeadline-Light.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaHeadline-Light.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Headline";
//     font-display: swap;
//     font-style: italic;
//     font-weight: 300;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaHeadline-LightItalic.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaHeadline-LightItalic.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Sans Bold";
//     font-display: swap;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-Bold.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-Bold.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Sans Bold Italic";
//     font-display: swap;
//     font-style: italic;
//     font-weight: 700;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-BoldItalic.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-BoldItalic.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Sans";
//     font-display: swap;
//     font-weight: 300;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-Light.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-Light.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Sans";
//     font-display: swap;
//     font-style: italic;
//     font-weight: 300;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-LightItalic.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-LightItalic.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Sans";
//     font-display: swap;
//     font-weight: 500;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-Medium.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-Medium.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Sans";
//     font-display: swap;
//     font-style: italic;
//     font-weight: 500;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-MediumItalic.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-MediumItalic.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Sans";
//     font-display: swap;
//     font-weight: 400;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-Regular.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-Regular.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Sans";
//     font-display: swap;
//     font-style: italic;
//     font-weight: 400;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-RegularItalic.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaSans-RegularItalic.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Text Mono";
//     font-display: swap;
//     font-weight: 500;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaTextMono-Medium.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaTextMono-Medium.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Text Mono";
//     font-display: swap;
//     font-weight: 400;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaTextMono-Regular.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaTextMono-Regular.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Text";
//     font-display: swap;
//     font-weight: 400;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-Regular.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-Regular.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Text";
//     font-display: swap;
//     font-weight: 500;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-Medium.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-Medium.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Text";
//     font-display: swap;
//     font-weight: 700;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-Bold.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-Bold.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Text";
//     font-display: swap;
//     font-weight: 400;
//     font-style: italic;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-Italic.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-Italic.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Text";
//     font-display: swap;
//     font-weight: 500;
//     font-style: italic;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-MediumItalic.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-MediumItalic.woff") format('woff')
// }

// @font-face {
//     font-family: "Klarna Text";
//     font-display: swap;
//     font-weight: 700;
//     font-style: italic;
//     src: url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-BoldItalic.woff2") format('woff2'), url("https://x.klarnacdn.net/ui/fonts/v1.4/KlarnaText-BoldItalic.woff") format('woff')
// }

// @font-face {
//     font-family: 'Klarna Display';
//     src: url('/b2b/font/KlarnaGreek-Display.woff2') format('woff2'),
//     url('/b2b/font/KlarnaGreek-Display.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
//     unicode-range: U+0370-03FF;
// }

// @font-face {
//     font-family: 'Klarna Display';
//     src: url('/b2b/font/KlarnaGreek-DisplayItalic.woff2') format('woff2'),
//     url('/b2b/font/KlarnaGreek-DisplayItalic.woff') format('woff');
//     font-weight: 700;
//     font-style: italic;
//     font-display: swap;
//     unicode-range: U+0370-03FF;
// }

// @font-face {
//     font-family: 'Klarna Text';
//     src: url('/b2b/font/KlarnaGreek-Bold.woff2') format('woff2'),
//     url('/b2b/font/KlarnaGreek-Bold.woff') format('woff');
//     font-weight: 700;
//     font-style: bold;
//     font-display: swap;
//     unicode-range: U+0370-03FF;
// }

// @font-face {
//     font-family: 'Klarna Text';
//     src: url('/b2b/font/KlarnaGreek-Regular.woff2') format('woff2'),
//     url('/b2b/font/KlarnaGreek-Regular.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
//     unicode-range: U+0370-03FF;
// }

// @font-face {
//     font-family: 'Klarna Text';
//     src: url('/b2b/font/KlarnaGreek-Italic.woff2') format('woff2'),
//     url('/b2b/font/KlarnaGreek-Italic.woff') format('woff');
//     font-weight: 400;
//     font-style: italic;
//     font-display: swap;
//     unicode-range: U+0370-03FF;
// }

// @font-face {
//     font-family: 'Klarna Text';
//     src: url('/b2b/font/KlarnaGreek-Medium.woff2') format('woff2'),
//     url('/b2b/font/KlarnaGreek-Medium.woff') format('woff');
//     font-weight: 500;
//     font-display: swap;
//     unicode-range: U+0370-03FF;
// }


// @font-face {
//     font-family: 'Klarna Text';
//     src: url('/b2b/font/KlarnaGreek-MediumItalic.woff2') format('woff2'),
//     url('/b2b/font/KlarnaGreek-MediumItalic.woff') format('woff');
//     font-weight: 500;
//     font-style: italic;
//     font-display: swap;
//     unicode-range: U+0370-03FF;
// }

// @font-face {
//     font-family: 'Klarna Text';
//     src: url('/b2b/font/KlarnaGreek-BoldItalic.woff2') format('woff2'),
//     url('/b2b/font/KlarnaGreek-BoldItalic.woff') format('woff');
//     font-weight: 700;
//     font-style: italic;
//     font-display: swap;
//     unicode-range: U+0370-03FF;
// }