@import "./mixins.scss";
.carousel {
  .contentWrapper {
    position: relative;
  }
  .arrow {
    transition: 0.4s;
    font-size: 40px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    z-index: 1;
    display: none;
    padding: 5px;
    background-color: rgb(209 213 219);
    border-radius: 50%;

    @include md {
      display: block;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .carouselLeftNav {
    left: -25px;
  }
  .carouselRighttNav {
    right: -25px;
  }

  .carouselItems {
    display: flex;
    gap: 10px;
    overflow-y: hidden;

    @include md {
      gap: 20px;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    .carouselItem {
      width: 155px;
      cursor: pointer;
      @include md {
           width: calc(22% - 1px);

      }
      @include lg {
        // width: calc(30% - 26px);
        width: calc(20% - 55px);
      }
      flex-shrink: 0;
    }
  }
}
