@import "./mixins.scss";
.search-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateY(100%);
  animation: slideSearchWindow 0.4s ease forwards;
  .form-field {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    @include md {
      padding: 20px 0px;
    }
    input {
      width: 100%;
      max-width: 1200px;
      height: 50px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: #212121;
      outline: none;
      border: none;
      // text-transform: lowercase;
      @include md {
        font-size: 48px;
        height: 80px;
      }
    }
    svg {
      position: absolute;
      font-size: 25px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      @include md {
        right: 40px;
        font-size: 50px;
      }
    }
  }
}
@keyframes slideSearchWindow {
  0% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0%);
  }
}

.para-dots-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  @include md {
    width: 910px;
  }
}
.scrollable-div-search {
  @include sm {
    height: 530px;
  }
  height: 535px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
